/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    width: 920px;
    padding-top: 1rem;
    margin: 2rem auto;
}


.footer .social {
    font-size: 2rem;
}

.footer .social a {
    text-decoration: none;
}