@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5rem;
    color: $primary-color;

    a {
        color: $dark-mode-link;
    }

    p, td, th, li, dd {
        text-align: justify;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    
    p {
        margin: 15px 0;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: "Oswald", sans-serif;
        margin-bottom: 0.6em;
        font-weight: bold;
        margin-top: 2em;
    }
}