<ul>
    <li><a href="html">Html</a></li>
    <li><a href="css">Css</a></li>
    <li><a href="php">Php</a></li>
    <li><a href="python">Python</a></li>
    <li><a href="git">Git</a></li>
    <li><a href="sqlite">Sqlite</a></li>
    <li><a href="javascript">Javascript</a></li>
</ul>